# Recette .gitignore
recette/logs
recette/*.log
recette/npm-debug.log*
recette/yarn-debug.log*
recette/yarn-error.log*
recette/pnpm-debug.log*
recette/lerna-debug.log*
recette/node_modules
recette/dist
recette/dist-ssr
recette/*.local
recette/.vscode/settings.json
recette/.idea
recette/.DS_Store
recette/*.suo
recette/*.ntvs*
recette/*.njsproj
recette/*.sln
/recette/*.sw?
