@use '../../styles/variables' as v;

.instructions {
  margin-bottom: 3rem;

  &__list {
    padding: 1rem 3rem;
    background-color: #f2f2f2;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  &__item {
    position: relative;
    list-style: none;
    padding-left: 3rem;
    margin: 1rem 0;
    text-align: left;

    &::before {
      left: 0;
      position: absolute;
      content: '';
      border: 1px solid #f18042;
      width: 1rem;
      top: calc(50% - 1px);
    }
  }
}
