@use '../../styles/variables' as v;

.app {
  margin: v.$gap-tiny auto;
  text-align: center;
  width: 25rem;
  display: flex;
  flex-direction: column;
  color: v.$color-white;
  background-color: v.$color-white;
  border-radius: 31rem 31rem 3rem 3rem;
}
